:root {
    --gray-color:#757575;
    --blue-color:#2196F3;
    --alpha-white:rgba(255, 255, 255, 0.6);
    --white:#FFFFFF;
    --butt-gray:#F5F4FA;
    --studio-color:#000000;
    --background-gray: #2F303A;
}
body {
    margin: 0;
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121
}
.container {    
    margin: 0 auto;
    padding: 0 15px;    
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.header-color {
    background-color: var(--white);
    border-bottom: 1px solid var(--studio-color);
}
.main.container {
    justify-content: space-between;
}
.main__links {
    list-style: none;
    display: flex;
    flex-grow: 2;
    max-width: 70%;
    gap: 46px;
    padding-left: 0;
}
.main__contacts {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.main__logo {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 26px;
    color:var(--studio-color);
    text-decoration: none;
}
.blue {
    color:var(--blue-color)
}
.gray-box {
    background-color: var(--background-gray);
}
.gray-container {
    display: flex;
    flex-direction: column;
    padding-block: 106px;
}
.big-text {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    align-content: center;
    padding-bottom: 30px;
    text-align: center;
    font-weight: 900;
    line-height: 1.36;
    font-size: 44px;
    color: var(--white);
}
.section-header {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 50px;
    line-height: 1.17;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.section-header.no-padd {
    padding-top: 0;
}
.head3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
    padding-bottom: 10px;
    margin: 0;
}
.card-set {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
figure {
    margin: 0;
}
.item {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: calc((100% - 90px) / 4);
}
.item__member {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: calc((100% - 90px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--gray-color);
}
.item-photo {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-basis: calc((100% - 60px) / 3);
}
.team-background {
    width: 100%;
    background-color: var(--butt-gray);
}
.member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    padding-top: 30px;
    margin: 0;
}
.team-role {
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    color: var(---);
    text-align: center;
}
.products {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.products__item {
    flex-basis: calc((100% - 60px) / 3);
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 1px solid #EEEE;
}
.products__name {
    margin: 0;
    padding-top: 20px;
    padding-inline: 24px;
    font-size: 18px;
    line-height: 2;
}
.products__type {    
    padding-bottom: 20px;
    padding-inline: 24px;
    font-size: 16px;
    color: var(---);
    line-height: 1.9;
}
.button {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--white);
    background-color: var(--blue-color);
    border: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.portfolio-buttons {
    display: flex;
    margin: 0;
    padding-left: 0;
    padding-bottom: 50px;
    gap: 8px;
    list-style: none;
}
.filters {
    font-family: inherit;
    background-color: var(--butt-gray);
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    padding-block: 6px;
    padding-inline: 22px;
    border-radius: 4px;
}
.filters:focus {
    transition-duration: 300ms;
    background-color: var(--blue-color);
    color: var(--white);
}
.filters:hover {
    transition-duration: 300ms;
    background-color: var(--blue-color);
    color: var(--white);
}
.main__link {
    font-size: 14px;
    line-height: 1.17;
    color: inherit;
    text-decoration: none;
    font-weight: 500;
}
.main__link:hover {
    transition-duration: 300ms;
    color: var(--blue-color);
}
.main__link.main__contacts:hover {
    transition-duration: 300ms;
    color: var(--blue-color);
}
.main__link:focus {
    transition-duration: 300ms;
    color: var(--blue-color);
}
.main__link.main__contacts:focus {
    transition-duration: 300ms;
    color: var(--blue-color);
}
.active-page {
    color: var(--blue-color);
}
.main__link.main__contacts {
    color: var(---);
}
footer {
    width: 100%;
    padding-top: 50px;
    background-color: var(--background-gray);
}
.footer.container {
    display: block;
    justify-content: left;
}
.footer__logo {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.17;
    font-size: 26px;
    text-decoration: none;
    color: var(--white);
}
.footer__contact:hover {
    transition-duration: 300ms;
    color: var(--blue-color);
}
.footer__contact:focus {
    transition-duration: 300ms;
    color: var(--blue-color);
}
.footer__address {
    color: var(--white);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}
.footer__contacts {
    list-style: none;
    padding-left: 0;
    padding-bottom: 60px;
}
.footer__contact {
    font-size: 14px;
    line-height: 1.71;
    color: var(--alpha-white);
    font-style: normal;
}
.hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    position: absolute;
}