@import "./utils/variables";
@import "./utils/reset";
@import "./utils/backdrop";
@import "./utils/is-hidden";
@import "./utils/logo";
@import "./utils/link";
@import "./utils/active-page-highlight";
@import "./utils/section-reset";
@import "./utils/placeholder";


@import "./components/header";
@import "./components/modal";
@import "./components/container";
@import "./components/banner";
@import "./components/what-we-do";
@import "./components/cards-section";
@import "./components/team-section";
@import "./components/social-media";
@import "./components/clients-section";
@import "./components/products-grid";
@import "./components/button";
@import "./components/filter-buttons";
@import "./components/footer";