.banner {
    background-image: $linear-gradient, url(../images/office.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0 auto;
    @media screen and (max-width:$tablet) {
        background-image: $linear-gradient, url(../images/mobile-banner1px.png);
        padding-block: 0;
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: $linear-gradient, url(../images/mobile-banner2px.png);
    }
    @media screen and (max-width:$desktop) {
        background-image: $linear-gradient, url(../images/office-tablet1px.jpg);
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: $linear-gradient, url(../images/office-tablet2px.jpg);
    }

    &__big-text-wrapper {
        display: flex;
        flex-direction: column;
        padding-block: 106px;
    }
    &__big-text {
        display: flex;
        max-width: 60%;
        flex-wrap: wrap;
        margin: auto;
        align-items: center;
        align-content: center;
        padding-bottom: 30px;
        text-align: center;
        font-weight: 900;
        line-height: 1.36;
        font-size: 44px;
        color: $color-primary-white;
        @media screen and (max-width:$tablet) {
            font-size: 26px;  
        }
    }
}