.clients {
    flex-direction: column;

    &__item-card {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 0;
        gap: 30px;
        list-style: none;
    }
    &__button {
        width: 170px;
        height: 92px;
        background-color: $color-primary-white;
        border: 1px solid $color-clients-buttons-gray;
        border-radius: 4px;
        cursor: pointer;
        @media screen and (max-width:$desktop) {
            width: 226px;
        }
    }
    &__icon {
        fill: $color-clients-buttons-gray;
    }
    &__button:hover,
    &__button:focus {
        transition: $transition-cubic-bezier;
        border: 1px solid $color-primary-blue;
    }
    &__icon:hover,
    &__icon:focus {
        transition: $transition-cubic-bezier;
        fill: $color-primary-blue
    }
}