.what-we-do {
    padding-top: 0;
    @media screen and (max-width:$tablet) {
        display: none;
    }
    
    &__item {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        flex-basis: calc((100% - 60px) / 3);        
    }
    &__item > .what-we-do__label {
        position: absolute;
        width: 100%;
        padding-block: 27px;
        text-align: center;
        color: $color-primary-white;
        background-color: $color-photo-overlay-gray;
        bottom: 4px;        
    }
}