$color-gray-text:#757575;
$color-primary-blue:#2196F3;
$color-footer-contacts-text:rgba(255, 255, 255, 0.6);
$color-primary-white:#FFFFFF;
$color-background-gray:#F5F4FA;
$color-primary-black:#000000;
$color-footer-background-gray: #2F303A;
$color-clients-buttons-gray: #AFB1B8;
$color-footer-social-btn:#FFFFFF1A;
$color-photo-overlay-gray: #2F303ACC;
$color-product-overlay-blue:#2196F3E5;
$transition-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$font-raleway: 'Raleway', sans-serif;